<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">🏠 หน้าแรก</a></li>
                <li class="breadcrumb-item"><a aria-current="page" >คำถามที่พบบ่อย</a></li>
            </ol>
        </nav>
    </div>
</div>

<div class="text-center">
    <h1>คำถามที่พบบ่อย FAQ</h1>
</div>

        <div class="card">
            <div class="card-header h6">
                มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตศรีราชา มีกี่คณะ?
            </div>
            <div class="card-body">
                <div>
                    <p>มีทั้งหมด 5 คณะ ดังนี้</p>
                    
                </div>
                <div>
                    <p>1. คณะวิทยาการจัดการ</p>
                    <p>2. คณะวิศวกรรมศาสตร์ศรีราชา</p>
                    <p>3. คณะวิทยาศาสตร์ ศรีราชา</p>
                    <p>4. คณะเศรษฐศาสตร์ ศรีราชา</p>
                    <p>5. คณะพาณิชยนาวีนานาชาติ</p>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header h6">
                คณะวิทยาศาสตร์ ศรีราชา มีสาขาอะไรบ้าง?
            </div>
            <div class="card-body">
                <div>
                    <p>1. วิทยาการคอมพิวเตอร์ (Computer Science)</p>
                    <p>2. เทคโนโลยีสารสนเทศ (Information Technology)</p>
                    <p>3. วิทยาศาสตร์และเทคโนโลยีสิ่งแวดล้อม (Environmental Science and Technology)</p>
                    <p>4. เคมี (Chemistry)</p>
                    <p>5. ฟิสิกส์ (Physics)</p>
                    <p>6. คณิตศาสตร์ประยุกต์ (Applied Mathematics)</p>
                </div>
            </div>
        </div>
