<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">🏠 หน้าแรก</a></li>
                <li class="breadcrumb-item"><a aria-current="page" >เกี่ยวกับเรา</a></li>
            </ol>
        </nav>
    </div>
</div>

<img src="https://fbi.dek-d.com/1/bicon/0396/3967305_5e82d41764dc4_big.jpg" class="img-fluid rounded" alt="..." width="1500" height="500">
  <br>
  <br>

<div class="card">
    <div class="card-body">
        <div>
            <h1>มหาวิทยาลัยเกษตรศาสต์ วิทยาเขตศรีราชา</h1>
        </div>
        <div>
            <p><span><strong>วิทยาเขตศรีราชา</strong></span> ก่อตั้งขึ้น เพื่อขยายโอกาสทางการศึกษาและรองรับการพัฒนาเขตเศรษฐกิจและสังคม ในพื้นที่ชายฝั่งตะวันออก 
                ณ สถานีวิจัยศรีราชา บนเนื้อที่ 199 ไร่ 48 ตารางวา โดยเริ่มต้นโครงการจัดตั้งในปี พ.ศ. 2535 จากนั้นได้ปรับเปลี่ยนเป็นวิทยาลัยชุมชน
            ศรีราชา และ วิทยาเขตศรีราชา ในปี 2535 และ 2542 ทั้งนี้ได้รับนิสิตเข้าศึกษารุ่นแรกเข้าศึกษาที่วิทยาเขตศรีราชา ในปีการศึกษา 2539</p>
        </div>
        <div>
            <p><span><strong>คณะที่เปิดสอน</strong></span> ประกอบด้วย 5 คณะ ดังนี้</p>
            
        </div>
        <div>
            <p>1. คณะวิทยาการจัดการ</p>
            <p>2. คณะวิศวกรรมศาสตร์ศรีราชา</p>
            <p>3. คณะวิทยาศาสตร์ ศรีราชา</p>
            <p>4. คณะเศรษฐศาสตร์ ศรีราชา</p>
            <p>5. คณะพาณิชยนาวีนานาชาติ</p>
        </div>
    </div>
</div>