<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">🏠 หน้าแรก</a></li>
                <li class="breadcrumb-item"><a aria-current="page" >ติดต่อเรา</a></li>
            </ol>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header h4">
                ที่อยู่
            </div>
            <div class="card-body">
                <p><strong><span>มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตศรีราชา</span></strong>
                    เลขที่ 199 หมู่ 6 ถนนสุขุมวิท ต.ทุ่งสุขลา อ.ศรีราชา จ.ชลบุรี 20230 โทรศัพท์ : 0-3835-4580-4 (666103)</p>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header h4">
                หมายเลขโทรศัพท์หน่วยงาน
            </div>
            <div class="card-body text-center">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">ลำดับ</th>
                        <th scope="col">ชื่อหน่วยงาน</th>
                        <th scope="col">เบอร์โทรศัพท์</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>คณะวิทยาการจัดการ</td>
                        <td>0-3835-2828 (661000)</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>คณะวิศวกรรมศาสตร์ศรีราชา</td>
                        <td>0-3835-4580-4 (662202)</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>คณะวิทยาศาสตร์ ศรีราชา</td>
                        <td>0-3835-4587-8 (663014)</td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>คณะเศรษฐศาสตร์ ศรีราชา</td>
                        <td>0-3835-2902, 081-781-0934 (664302)</td>
                      </tr>
                      <tr>
                        <th scope="row">5</th>
                        <td>คณะพาณิชยนาวีนานาชาติ</td>
                        <td>0-3835-4580-4 (665301)</td>
                      </tr>
                      <tr>
                        <th scope="row">6</th>
                        <td>สำนักงานวิทยาเขต</td>
                        <td>0-3835-4580-4 (666103)</td>
                      </tr>
                      <tr>
                        <th scope="row">7</th>
                        <td>หน่วยประสานงานวิทยาเขตศรีราชา</td>
                        <td>0-2942-8878 (644013)</td>
                      </tr>
                      <tr>
                        <th scope="row">8</th>
                        <td>ศูนย์รักษาความปลอดภัย</td>
                        <td>0-3835-4580-4 (666666)</td>
                      </tr>
                      <tr>
                        <th scope="row">9</th>
                        <td>ห้องพยาบาล</td>
                        <td>0-3835-4580-4 (666606)</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>